/*h1, h2{ 
    margin: 0;
    font-size: 20px;
    font-family: 'Press Start 2P';
    background-color: #576574;
    height: 40px;
    width: 400px;
    padding: 10px; 
    text-align: center; 
}*/
h1{
    font-family: 'Press Start 2P';
    text-shadow: 4px 4px 0 #000;
    font-size: 25px;
    color: #ff9f43;
    
}
