.action{
    display: inline-block;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    text-decoration: none;
    margin-right: 30px;
}
.action::before{
    content: "";
    background-color: #ff9f43;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}
