.main-skill{
    align-items: center;
    display: flex;
    font-family: 'press Start 2P';
    color: #fff;
    font-size: 25px;
}
.main-skill .icon{
    margin-right: 25px;
    width: 90px;
}
.main-skill .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-skill .title{
    margin-bottom: 16px;
}